.loginclass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.loginclass .formclass {
  border: 1px;
  border-radius: 25px;
  height: 600px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  margin: 0 auto;
}

.loginclass label {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
.loginclass input {
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 4px;
  width: 400px;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: normal;
  background-color: white;
}
.loginclass .formclass div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 15px;
}
.loginclass #container button {
  border: 2px;
  border-radius: 25px;
  font-size: 20px;
  background-color: rgb(10, 141, 45);
  font-family: "Times New Roman", Times, serif;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 25px;
}
.loginclass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: self-start;
  margin-top: 40px;
}

.loginclass #home {
  width: 700px;
  height: 630px;
}
.loginclass #a {
  color: rgb(61, 80, 226);
  text-decoration: underline;
}
.loginclass #container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
  margin-left: 50px;
}

.loginclass p {
  color: rgb(156, 25, 25);
  font-size: 50px;
  font-weight: lighter;
  font-family: sans-serif;
  text-align: start;
}

.loginclass #logo {
  width: 250px;
  margin-bottom: 0px;
}

.loginclass .formclass #tag {
  margin-top: 15px;
}
.loginclass #img {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.loginclass #img button {
  text-align: center;
  background-color: white;
  border: 1px solid rgb(61, 80, 226);
  border-radius: 25px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(61, 80, 226);
  width: 150px;
  height: 50px;
  font-size: 25px;
  margin-right: 50px;
}
