#passwordclass input {
  width: 250px;
  margin-left: 15px;
}
#passwordclass {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 25px;
  background-color: white;
  width: 400px;
  height: 160px;
  align-items: center;
  border: 3px solid green;
  position: fixed;
  right: 26vw;
  top: 24vh;
  padding: 10px;
  z-index: 1000;
}
#passwordclass .ptab {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#passwordclass h3 {
  color: #4bad57;
  margin-top: 0px;
}
#passwordclass #submit {
  padding-top: 10px;
}
