.profileclass {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 30%;
  backdrop-filter: blur(5px);
}

.profileclass h2 {
  color: #4bad57;
  margin-bottom: 5px;
}
.profileclass div {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.profileclass #submit {
  display: flex;
  flex-direction: row;
}

.profileclass input {
  width: 400px;
}
#s {
  background-color: rgb(145, 51, 186);
}
#c {
  background-color: transparent;
  color: black;
}
.profile #logo {
  padding: 0px;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.profile select {
  width: 400px;
}
