.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(249, 249, 249);
}
.registerclass {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 25px;
  width: 600px;
  background-color: white;
  padding: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  align-items: start;
  width: 100%;
}
.form-group div {
  display: flex;
  width: 600px;
}
.form-group div div {
  display: flex;
  width: 260px;
  margin-top: 10px;
  justify-content: center;
}

.form-group input[type="radio"] {
  margin: 0px;
  width: 50px;
}
.register label {
  font-weight: bold;
  color: rgb(45, 44, 44);
  font-size: 20px;
  margin-bottom: 3px;
  width: 100%;
  text-align: start;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

.register input {
  padding: 8px;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 4px;
  height: 25px;
  border-radius: 15px;
  font-size: 16px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

.register button {
  padding: 10px 20px;
  width: 120px;
  font-size: 20px;
  background-color: #4bad57;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 0px;
  background-color: rgb(61, 80, 226);
  font-family: "Times New Roman", Times, serif;
}

.register h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.registerclass p {
  color: rgb(152, 150, 150);
  font-size: 18px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
.input {
  display: flex;
  flex-direction: row;
}
.input select,
.input input {
  width: 200px;
}
[type="submit"] {
  background-color: rgb(145, 51, 186);
}
.register #logo {
  width: 250px;
  margin-bottom: 0px;
  margin-left: 150px;
}
.register .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
}
.register .container p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  margin-right: 100px;
}
.register #signin {
  font-family: "Times New Roman", Times, serif;
  color: rgb(61, 80, 226);
}
.register .section {
  display: flex;
  width: 80%;
}
.register .section .leftpane {
  width: 300px;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  margin-top: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.register .leftpane i {
  font-size: 20px;
  margin-right: 2px;
  color: #4bad57;
}
.register .leftpane div div {
  display: flex;
  align-items: center;
  justify-content: start;
}
.register .leftpane > p {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.register .leftpane div p {
  font-size: 14px;
  text-align: start;
  font-weight: lighter;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.register #reg {
  width: 150px;
}
